<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome"/>
    <add key="appURL" value="https://demoqa.com/"/>
	  <add reportpath= "C:\\Users\\Ranjith_Paramasivam\\source\\repos\\EPAMTraining\\Result\\Result.html"/>
	  <add key="reportpath" value="C:\\Users\\Ranjith_Paramasivam\\source\\repos\\EPAMTraining\\Result\\Result.html"/>
  </appSettings>
  
</configuration>